body {
    background-color: blue;
    font-style: normal;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
p {
    font-size: 0.875em;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.navbar-toggle {
    background-color: blue; 
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


#summary {
    margin: 10px;
    font-size: 16px;
    line-height: 2em;
}

#s-chart {
    width: 100%;
    height: 650px;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 2.5em;
    font-weight: 300;
    text-align: center
  }
  
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 1.875em;
    font-weight: 300;
    text-align: center
}

.box {
    color: black;
    background: white;
    height:  auto; 
}
  
.box-left {
    padding: 10px;
}


.footer {
    border-top:  5px blue,#b2e6ff;;
    position: relative;
    padding-top: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue,#b2e6ff;;
    color: white;
    text-align: center;
    height: 50px;
}

