body {background-color: teal;}



#nav-title {
    background-color: teal;
    color: white;
    margin-left: 40px;
    font-size: 40px;
    font-style:italic;
}

.navbar-toggle {
    background-color: teal; 
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#main-viz {
    padding: 30px 40px 30px 40px;
    width: 100%;
    float: left; 
    margin : 5px;
   }
   
#landing-viz {
    padding:10px 10px 10px 10px;
    width: 100%;
    height: 100%;
}

#landing-sel {
    width: 100%;
    height: 100%;
    border: 1px solid teal;
}

#dframe {
    background-color: white;
    color: black:

}

#summary {
    margin: 10px;
    font-size: 16px;
    line-height: 2em;
}


h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: teal;
    font-size: 32px;
    font-weight: 300;
    text-align: center
  }
  
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: teal;
    font-size: 26px;
    font-weight: 300;
    text-align: center
}

.box {
    color: black;
    background: white;
    height:  auto; 
}
  
.box-left {
    padding: 10px;
}
  
.box-right {
    padding: 10px;
}

@media (
    min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (
    min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (
    min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}
@media (
    min-width: 768px) {
  .row.row-grid [class*="col-xs-"] + [class*="col-xs-"] {
      margin-top: 0;
  }
}

.footer {
    border-top:  5px solid teal;
    position: relative;
    padding-top: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
}