<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Detail</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Reset CSS -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body style="background-color:lightgrey">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- Create Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
      <div class="container-fluid">
        <a class="navbar-brand bg-primary text-white m-2 pl-2 pr-2" href="index.html">Detail</a>

          <!-- Create dropdown menu -->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Airport</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="summary.html" target="_blank">Summary</a>
                <a class="dropdown-item" href="detail.html" target="_blank">Detail</a>
              </div>
        </div>
    </nav>

    </div>
  </body>
  <br>
  <!--Footer-->
  <footer class="footer">
    <!--/.Footer Links--> <!--Copyright-->
    <div class="container-fluid p-3 mb-2 bg-secondary text-white text-center">
        No Preference @ Copyright
    </div>
      <!--/.Copyright-->
  </footer>
  <!--/.Footer-->
</html>