<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Landing Page</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Reset CSS -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body style="background:linear-gradient(blue,#b2e6ff)">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- Create Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: blue,#b2e6ff;">
      <div class="container-fluid">
        <a class="navbar-brand bg-primary text-white m-2 pl-2 pr-2" href="{{ url_for('home')}}">Come Fly with Me</a>
        <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Create collapse bar -->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav justify-content-end nav-pills nav-fills">
          <!-- Create dropdown menu -->
              <li class="nav-item justify-content-end">
                <a class="ml-5 mr-2 nav-link inactive text-white" href="{{ url_for('summary')}}">Delayed Flights by Airline/Airport</a>
              </li>
              <li class="nav-item">
                <a class="ml-2 nav-link active text-white" href="{{ url_for('detail')}}">Flight Arrival/Departure Details</a>
              </li>
           </ul>
        </div>
      </div>
    </nav>
    <!-- Main Content Area -->
    <div class="container-fluid">
      <div class="row mt-5 ml-5 mr-5 mb-5">
        <div class="col-lg-12 mb-6" style="background-color: blue,#b2e6ff;">
          <div class="thumbnail">
            <h1 class="text-white pt-4">Delayed Flights by Airline/Airport</h1>
            <hr>
            <!--summary needs to be updated -->
            <p class="text-white">Let's look into the details on which airlines and/or airports render more delayed flights and vice versa
            </p>
            <div class="row">
            <div class="col-md-5 text-center ml-1">
              <p class="text-white">The left charts provide the total counts of delayed flights by airports/airlines.
              </p>
            </div>
            <div class="col-md-5 text-center ml-1">
              <p class="text-white">The right charts provide the total percentages of delayed flights by airports/airlines.
              </p>
            </div>
            <div class="col-md-5 text-center ml-1">
              <iframe id="s-chart" class="embed-responsive-item" src="{{ url_for('counts')}}"></iframe>
              <ul>
                <li> Southwest Airlines has the highest delayed flights compared to all the airlines in US, the total counts is 22257, total percentage is 22.54% on March 2018 </li>
                <li>Hawaiian Airlines is the most on time airline on March 2018 compared to all the airlines in US,the total counts is 961, total percentage is 0.97%</li>
                <li>LAX airport has the higest delayed flights compared to all airports in US, total counts is 4362, total percentage is 4.42%</li>
              </ul>
            </div>
            <div class="col-md-5 text-center ml-1">
              <iframe id="s-chart" class="embed-responsive-item" src="{{ url_for('percentages')}}"></iframe>
              <ul>
                <li>JetBlue Airways is the most likely delayed Airline, it has the most hight delayed flights percentage 9.68%. Delta Air Lines is the on time airline in the all airlines in US, delayed fligts percentage is 3.93%.
                </li>
                <li>GUM is the most likely delayed Airport, it has the most hight delayed flights percentage 1.25%.</li>
      
              </ul>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </body>
  <br>
  <!--Footer-->
  <footer class="footer">
    <!--/.Footer Links--> <!--Copyright-->
    <div class="container-fluid p-3 mb-2 text-white text-center" style ="background:#bee3f4">
        No Preference @ Copyright
    </div>
      <!--/.Copyright-->
  </footer>
  <!--/.Footer-->
</html>